<ion-modal-view>
	<ion-header-bar>
      <h1 class="title">HELP: Ocean Sampling Toolkit App</h1>
      <button class="button button-icon icon ion-close-round" ng-click="closeModal()"></button>
    </ion-header-bar>
    <ion-content>
		<p>
		<h1><center>HELP</center></h1>
		<p><center>OSKit App</center></p>
		<br>
		<p>This OSKit App allows users to record basic oceanographic data. The following fields are currently available</p>
		<ul>
		<li><b>Ocean Temperature</b> (celcius)</li>
		<li><b>Ocean Salinity</b> (psu)</li>
		<li><b>Sechi Disk depth</b> (meters) as a proxy for turbidity</li>
		<li><b>Basic Weather</b> as a % of cloudiness</li>
		<li><b>Image</b> (a photo taken by the device</li>
		</ul>
		<p>Each measurement can be taken asynchonosly as each is saved in its own individual file which is then transmitted to the server as a separate file</p>
		<p>More to come. Each measurement can be taken asynchonosly as each is saved in its own individual file which is then transmitted to the server as a separate file</p>
		<p>More to come. Each measurement can be taken asynchonosly as each is saved in its own individual file which is then transmitted to the server as a separate file</p>
		<p>More to come. Each measurement can be taken asynchonosly as each is saved in its own individual file which is then transmitted to the server as a separate file</p>
		<p>More to come. Each measurement can be taken asynchonosly as each is saved in its own individual file which is then transmitted to the server as a separate file</p>
		<p>This help.html screen should just scroll nicely. No pages or sublinks necessary.</p>
		<br>
		<p><b>Naval Research Laboratory</b></p>
 	</ion-content>
 </ion-modal-view>


