<ion-view view-title="Record Data">
  <ion-content>
 <!--Logos-->
   <!-- <div class="row">
      <div class="col col-33 nrl">  
        <img src= "/nrl.png">
      </div>
      <div class="col col-33 new" id="location">  
        OSKit Mobile Application
      </div>
      <div class="col col-33 oskit">       
        <img src=" /oskit.jpg">
      </div>
    </div>
    <br>
    <br> -->
    
      <div class = "new">
        <img src= "/nrl.png">
      </div>
      <div class="container location" id="location">
    </div>

      
<!--Session ID Input Field
    <form ng-submit= "getSID()">
      <div class ="card">
        <div class="item item-divider">
          Session ID 
          <div class="list list-inset">
            <label class="item item-input">
              <input type="text"  placeholder="Enter a unique Session ID."ng-model="userSID.data">
            </label>  
          </div>    
        <div class="container">
          <button class="button button-royal button-block" type="submit">
          Save
          </button>
        </div>
        </div>
      </div>
    </form> -->


<!--Temperature Input Field-->
    <form ng-submit = "doSave1()" id="temp">
      <div class ="card">
        <div class="item item-divider">
          Water Temperature (°C) <br> <br>
            <label class="item item-input">
              <input type="number"  placeholder="Temperature: 0-40°C" ng-model="temp.data">
            </label>
            <label class="item item-input">
              <input type="number"  placeholder="Depth: 0-100 m" ng-model="temp.depth">
            </label>  
            <div class ="row">
              <div class ="col col-66">
                <button class="button button-block button-royal" type="submit">
                Save
                </button>
              </div>
              <div class ="col col-offset-10" id="counter-1">0</div>     
            </div>
        </div>
      </div>
    </form>


<!--Salinity Input Field-->
    <form ng-submit ="doSave2()" id="salin">
      <div class ="card">
        <div class="item item-divider">
          Water Salinity (psu) <br> <br>
            <label class="item item-input">
              <input type="number"  placeholder="Salinity: 0-40 psu" ng-model="salin.data">
            </label>
            <label class="item item-input">
              <input type="number"  placeholder="Depth: 0-100 m" ng-model="salin.depth">
            </label>   
            <div class ="row">
              <div class ="col col-66">
                <button class ="button button-block button-royal" type="submit">
                  Save
                </button>
              </div>
              <div class="col col-offset-10" id="counter-2">0</div>
            </div>
        </div>
      </div>
    </form>


<!--Sechi Disk Depth Input Field-->
    <form ng-submit ="doSave3()" id="sechi">
      <div class ="card">
        <div class="item item-divider">
          Sechi Disk Depth (m) <br> <br>
            <label class="item item-input">
              <input type="number"  placeholder="Depth: 0-100 m" ng-model="sechi.depth">
            </label>   
            <div class ="row">
              <div class ="col col-66">
                <button class ="button button-block button-royal" type="submit">
                  Save
                </button>
              </div>
              <div class="col col-offset-10" id="counter-3"><br>
                0
              </div>
            </div>
          </div>
        </div>
      </form>


<!--Weather Slider Input Field -->
      <form ng-submit ="doSave4()" id="weather">
        <div class ="card">
          <div class="item item-divider">
            <div class="item range">
              Weather:
              <i class="icon ion-ios-sunny"></i>
              <input type="range" name="weather" min="0" max="100" value="50" step="10" ng-model="weather.data">
              <i class="icon ion-ios-rainy"></i>
            </div>  
            <div class ="row">
              <div class ="col col-66">
                <button class ="button button-block button-royal" type="submit">
                  Save
                </button>
              </div>
              <div class="col col-offset-10" id="counter-4"><br>
              0
              </div>
            </div>
          </div>
        </div>
      </form>


<!--Upload Button-->
<!--<form enctype="multipart/form-data" action="http://www7330.nrlssc.navy.mil/derada/AEC/upload.php" method="POST">
  <input type ="text" name="filename">
  <input type="submit" value="upload">
  </form> -->

     <div class="submit">
        <button class="button button-block button-positive" type="submit" ng-click= "dofUpload()">
          Upload
        </button>
      </div> 


  </ion-content>
</ion-view>