<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-icon-top tabs-color-active-positive">

  <!-- Dashboard Tab -->
  <ion-tab title="Status" icon-off="ion-ios-pulse" icon-on="ion-ios-pulse-strong" href="#/tab/status">
    <ion-nav-view name="tab-status"></ion-nav-view>
  </ion-tab>

  <!-- Chats Tab -->
  <ion-tab title="Record Data" icon-off="ion-erlenmeyer-flask" icon-on="ion-erlenmeyer-flask" href="#/tab/data">
    <ion-nav-view name="tab-data"></ion-nav-view>
  </ion-tab>

  <!-- Camera Tab -->
  <ion-tab title="Camera" icon-off="ion-ios-camera" icon-on="ion-ios-camera" href="#/tab/camera">
    <ion-nav-view name="tab-camera"></ion-nav-view>
  </ion-tab>

  <!-- Account Tab -->
  <ion-tab title="Settings" icon-off="ion-ios-gear-outline" icon-on="ion-ios-gear" href="#/tab/settings">
    <ion-nav-view name="tab-settings"></ion-nav-view>
  </ion-tab>


</ion-tabs>
