/* Empty. Add your own CSS if you like */
.connect-icon {
	font-size: 100px;
	text-align: center;
	color: green;	
}

.oskit{
	text-align: right;
}

.new{
	text-align: center;
	font-size: 100%;
	vertical-align: middle;
	padding-top: 100px;


}

.connect-button{
	padding-left: 20px;
	padding-right: 20px;
}

.purge-button {
	padding-left: 20px;
	padding-right: 20px;
}

.submit {
	padding-left: 25px;
	padding-right: 25px;
}