/* Empty. Add your own CSS if you like */
.connect-icon {
	font-size: 100px;
	text-align: center;
	color: gray;
	ion-checkmark;	
}

.status-button{
	padding-left: 20px;
	padding-right: 20px;
}




/*Data Tab*/
.oskit{
	text-align: center;
}
.new{
	text-align: center;
}
.location{
	text-align: center;
	vertical-align: bottom;
}
.status{
	text-align: center;
}

.upload-pic{
	padding-left: 25px;
	padding-right: 25px;
}

.counter-img{
	text-align: center;
	vertical-align: middle;
}


textarea {
    resize: none;
}


.nrl {
    height: 50px;
    width:10px;
}



.connect-button{
	padding-left: 20px;
	padding-right: 20px;
}


.submit {
	padding-left: 25px;
	padding-right: 25px;
}

.camera-button {
	padding-left: 10px;
	padding-right: 10px;
	text-align: center;
}
.button.button-block{
	margin-top: 0px;
	margin-bottom: 0px;
}
.col-10{
	text-align: center;
	vertical-align: middle;
}