/* Empty. Add your own CSS if you like */
.connect-icon {
	font-size: 100px;
	text-align: center;
	color: gray;
	ion-checkmark;	
}

.status-button{
	padding-left: 20px;
	padding-right: 20px;
}

.oskit{
	text-align: right;
    height: 50px;
}

.nrl {
    height: 50px;
    width:10px;
}

.new{
	text-align: center;
	font-size: 100%;
	padding-top: 10px;
}

.connect-button{
	padding-left: 20px;
	padding-right: 20px;
}


.submit {
	padding-left: 25px;
	padding-right: 25px;
}

.location {
	text-align: center;
}
.camera-button {
	padding-left: 10px;
	padding-right: 10px;
	text-align: center;
}
.button.button-block{
	margin-top: 0px;
	margin-bottom: 0px;
}
.col-10{
	text-align: center;
	vertical-align: middle;
}